<h2>

    producto por nombre

</h2>

{% load humanize %}
<div class="card mt-4">
    <div class="card-body">
        <h2 class="mb-3">Producto filtrado</h2>
        <hr>
        <table class="text-center table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>¿Es Nuevo ?</th>
            </tr>
        
        
            {% for p in productos %}
            <tr>
                <td>{{ p.nombre | title }}</td>
                <td>{{ p.precio | intcomma }} <b>USD</b> </td>
                <td>{{ p.marca | title }}</td>
                <td>
                    {% if p.nuevo %}
                    Si
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
</div>